<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js" defer></script>
    <title>Les 9 pouvoir des hommes</title>
</head>
<body>
    <header>
        <h2>
            Dnl
        </h2>

        <nav>
            <ul>
                <li><a href="../view/index.html">Home</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">Plus</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="body">

            <div class="titre">
                <h1>Les neuf don magique</h1>

                <p>
                    Bien que sa paresse surprenant voir meme tirer d'un film, chaque etre humain est
                    nee avec un poivoir en lui, des capaciter que si developper peuvent confere de grand
                    pouvoir.
                </p>
            </div>

            <div class="all">
                <div id="fst">
                        <div id="intro" class="chiffre">

                            <h2 id="quoi">C'est quoi ce don ?</h2>
                            <p>
                            Il s'agit de capaciter, ou plustot d'une sensibliter specifique au monde magique que
                            tout etre possede. Il est determine a base de votre date de naissance, ou plustot
                            du chiffre capital optenu a partir de cette datte.
                            </p>

                            <h2 id="comment">comment calculer ce chiffre ?</h2>
                            <p>
                                Pour connaitre quel est votre don, il suffit d'additionner les chiffre qui constitue
                                votre date de naissance jusqu'a ce qu'il n'en reste plus qu'un.<br><br>
                                Exemple: si vous ete ne le <em>15 decembre 1953</em> on aura<br>
                                1 + 5 + 1 + 2 + 1 + 9 + 5 + 3 = <em>9</em>. Le chiffre optenue est votre 
                                <em>chiffre capital</em>.
                            </p>

                            <h2 id="sinif">Que signifi c'est chiffre ?</h2>
                            <p>
                                Chaque chiffre represente un poivoir different et determine la nature de nos capaciter. Il n'en existe
                                que 9 :
                            </p>
                    </div>
                    
                    <div class="chiffre" id="c1">
                        <span class="image">
                            <img src="../image/magi/mag4.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/magi/mag3.jpg" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre 1 : <i>Le magicien</i></h2>
                        <p>
                            Le chiffre 1 correspond à la création. Ceux né sous ce chiffre on le pouvoir d'affirmer
                            leur volonté c'est pour cela que l'on dit qu'ils peuvent faire de grand(e)s sorcier(e)s.
                            Pour autant il ne faut pas essayer de contrôler ou manipuler ceux qui vous entourent. <br>
                            <em>Champ d'action: expression et courage.</em>

                        </p>
                    </div>
                    <div class="chiffre" id="c2">
                        <span class="image">
                            <img src="../image/empat/empat1.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/empat/empat4.jpg" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre 2 : <i>Empathie</i></h2>
                        <p>
                            Sous ce chiffre, vous êtes extrêmement sensible aux énergies qui vous entoure. Vous pouvez
                            donc ressentir les autres, leur intentions, ainsi que leur émotions, ce qui vous dote d'une
                            grande compassion.
                            votre don réside en votre cœur et votre sixième sens, vous permettant de ressentir les
                            énergies des autres ainsi que ceux de la nature.<br>
                           <em> Champ d'action : intuition et rêve. </em>

                        </p>
                    </div>
                    <div class="chiffre" id="c3">                       
                        <span class="image">
                            <img src="../image/tri/lune1.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/tri/lune2.jpg" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre  : <i>La triple lune</i></h2>
                        <p>
                            Ce chiffre correspond aux trois phases lunaires, donc pour les sorcières, vous êtes un 
                            instrument du triple dieu et de la triple déesse. Vous possédez en vous une très grande 
                            force créatrice et à la fois une très grande force destructrice. L'adage qui dit de faire
                            attention à ce qui sort de sa bouche; doit être une loi pour vous, puisque vous avez la
                            faculté de faire de vos pensées et désirs une réalité. <br>
                            <em>Champ d'action : Création ou Destruction.</em>

                        </p>
                    </div>
                    <div class="chiffre" id="c4">                       
                        <span class="image">
                            <img src="../image/element/elem1.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/element/elem2.jpg" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre 4 : <i>Elementaliste</i></h2>
                        <p>
                            Véritable, avatar ou presque, votre don est lié aux 04 éléments : l'eau, le feu, la terre,
                            et l'aire. Votre "moi" profond est en équilibre avec ces éléments, et ils tendent
                            a crée une force magique autour d'eux, forment autour de vous un bouclier qui repousse
                            toute forme de négativité; vous rendant in maudissable (impossible à maudire). <br>
                            <em>Champ d'action : La magie élémentaire.</em>

                        </p>
                    </div>
                    <div class="chiffre" id="c5">
                        <span class="image">
                            <img src="../image/medi/med1.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/medi/med2.jpg" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre 5 : <i>Le medium</i></h2>
                    </div>
                    <div class="chiffre" id="c6">
                        <span class="image">
                            <img src="../image/appr so/aps2.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/appr so/aps3.gif" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre 6 : <i>L'Appranti solaire</i></h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="chiffre" id="c7">
                        <span class="image">
                            <img src="../image/appr lu/apl1.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/appr lu/apl2.jpg" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre 7 : <i>L'Appranti lunaire</i></h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="chiffre" id="c8">
                        <span class="image">
                            <img src="../image/sorc/sor1.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/sorc/sor6.jpg" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre 8 : <i>La Sorciere traditionnelle</i></h2>
                        <p>

                        </p>
                    </div>
                    <div class="chiffre" id="c9">
                        <span class="image">
                            <img src="../image/cham/cha1.jpg" alt="impossible d'afficher l'image">
                            <img src="../image/cham/cha3.jpg" alt="impossible d'afficher l'image">
                        </span>
                        <h2>Chiffre 9 : <i>Le Chaman</i></h2>
                        <p>
                            
                        </p>
                    </div>
                    <div class="chiffre" id="moi">
                        <h2>A votre tour</h2>
                        <p>
                            Maintenant il est temps pour vous de découvrir votre super pouvoir et n'oubliez pas 
                            d'en faire bon usage.
                        </p>
                    </div>
                    </div>

            </div>
        </div>
        <div id="snd">
            <img src="../image/outil/chevron-circle-right-solid.svg" alt="" id="chevron">
            <nav>
                <h2>Liste</h2>
            <ul>
                <li><a href="#body">Introduction</a></li>
                    <li><a href="#quoi">C'est quoi ce don ?</a></li>
                    <li><a href="#comment">comment calculer ce chiffre ?</a></li>
                    <li><a href="#sinif">Que signifi c'est chiffre ?</a></li>
                    <li><a href="#c1">Chiffre 1 : Le magicien</a></li>
                    <li><a href="#c2">Chiffre 2: Empathie</a></li>
                    <li><a href="#c3">Chiffre 3: La triple lune</a></li>
                    <li><a href="#c4">Chiffre 4 : L'Elementaliste</a></li>
                    <li><a href="#c5">Chiffre 5 : Le Medium</a></li>
                    <li><a href="#c6">Chiffre 6 : L'Appranti solaire'</a></li>
                    <li><a href="#c7">Chiffre 7 : L'Appranti lunaire</a></li>
                    <li><a href="#c8">Chiffre 8 : La Sorciere traditionnelle</a></li>
                    <li><a href="#c9">Chiffre 9 : Le Chaman</a></li>
                <li><a href="#moi">Mon pouvoir</a></li>
            </ul>
            </nav>
        </div>
    </main>
</body>
</html>